@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lalezar&family=Luckiest+Guy&family=Outfit&family=Piedra&family=Ranchers&family=Salsa&display=swap');

.ranchers-regular,.salsa-regular,.piedra-regular,.luckiest-guy-regular{
    font-weight: 400;
    font-style: normal;
}

.ranchers-regular {
    font-family: "Ranchers", sans-serif;
}
.salsa-regular {
    font-family: "Salsa", cursive;
}
.piedra-regular {
    font-family: "Piedra", serif;
}
.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
}
   
body{
    background-color: #1C0E3B;
    border: 0;
    margin: 0;
    user-select: none;
    letter-spacing: 0.2em;
    background-image: url(Imagenes/fondo.png);
    background-size: cover;
}

img{
    filter: brightness(1.1) contrast(1.1) saturate(1.1); 
}

.horizontal{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 10;
    top: 0;
}
.horizontal label,.horizontal .craneo{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.horizontal label{
    font-size: 4vw;
    top: 35%;
    font-family: "Ranchers", sans-serif;
    color: #fff;
}
.horizontal .craneo{
    width: 25vh;
    top: 60%;
    border-radius: 20%;
}
.horizontal .marco{
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
    top: 0;
}
@media only screen and (orientation: landscape) {
        .horizontal{
            display: flex;
            position: fixed;
        }
        body{
            overflow: hidden;
        }
        
    }

.marco{
    width: 45vw;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}

#imagen{
    width: 20vw;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    z-index: -1;
}

h1{
    color: #fff;
    font-size: 6vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    font-family: "Ranchers", sans-serif;
}

input{
    position: absolute;
    width: 40%;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);
    height: 5%;
    border: none;
    border-bottom: 1vw solid #fff; 
    outline: none; 
    padding: 5px 0; 
    font-size: 8vw;
    background: transparent;
    color: #fff;
    font-family: "Ranchers", sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

button{
    position: absolute;
    width: 22vw;
    height: 12vw;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    font-size: 5vw;
    color: #fff;
    background-color: #FF6500;
    font-family: "Luckiest Guy", cursive;
    border: none;
}
button:active {
    border: 1vw solid #fff;
}

    @media only screen and (max-width: 767px){
        .marco{
            width: 55vw;
        }
        
        #imagen{
            width: 25vw;   
            top: 18%;
        }
        h1{
            top: 45%;
            font-size: 8vw;
        }
        input{
            top: 60%;
            width: 50%;
            font-size: 9vw;
        }
        button{
            width: 27vw;
            height: 17vw;
            font-size: 7vw;
        }
        
    }
